name: ecogo_booking
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.2


dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8
  firebase_core: ^4.3.0
  firebase_auth: ^6.1.3
  dio: ^5.9.0
  flutter_bloc: ^9.1.1
  shared_preferences: ^2.5.3
  pretty_dio_logger: ^1.4.0
  google_fonts: ^6.3.2
  flutter_svg: ^2.2.2
  gap: ^3.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0

  build_runner: ^2.10.4
  flutter_gen_runner: ^5.12.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter_gen:
  output: lib/gen/ # Optional (default: lib/gen/)
  line_length: 80 # Optional (default: 80)

  # Optional
  integrations:
    flutter_svg: true
    rive: true
    lottie: true

  assets:
    exclude:
      [
        assets/image/1.5x/*,
        assets/image/2.0x/*,
        assets/image/3.0x/*,
        assets/image/4.0x/*,
      ]

  colors:
    inputs:
      - assets/colors/colors.xml



flutter:

  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/
    - assets/svgs/



